# whitelist

/[^.]*
!/disabled_plugins.txt
!/codestyles
/codestyles/*
!/codestyles/Sortex.xml
!/colors
/colors/*
!/colors/Sortex_Dark.icls
!/fileTemplates
!/inspection
/inspection/*
!/inspection/Sortex.xml
!/keymaps
/keymaps/*
!/keymaps/Sortex.xml
!/options
/options/*
!/options/altn8.xml
!/options/browsers.xml
!/options/cachedDictionary.xml
!/options/code.style.schemes.xml
!/options/colors.scheme.xml
!/options/editor.codeinsight.xml
!/options/editor.xml
!/options/encoding.xml
!/options/filetypes.xml
!/options/ide.general.xml
!/options/images.support.xml
!/options/keymap.xml
!/options/markdown.xml
!/options/notifications.xml
!/options/runner.layout.xml
!/options/ui.lnf.xml
!/options/uml.xml
!/quicklists
!/templates
/templates/*
!/templates/JavaScript.xml
!/templates/PHP.xml
